@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 20px;
  padding-left: 130px;
  width: 100%;
  min-height: 100vh;
  background: #3d4152;
}

h1 {
  text-transform: uppercase;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  padding-top: 12px;
  display: flex;
}

.card {
  margin-right: 35px;
  background: #fff;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

.card::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  background: var(--color);
  filter: blur(8px);
  opacity: 0;
  transition: 0.5s;
  z-index: -1;
}

.card::before {
  opacity: 0.3;
}

.card span {
  font-size: 4em;
}
.card ion-icon {
  font-size: 2.5em;
}
